{% extends "tasks/layout.html" %}
{% block head %}
    <title>Todo list</title>
{% endblock %}
{% block body %}
    <h1>To-Do's </h1>
    <form method="POST" action="/">
        {% csrf_token %} 
        {{ form.title }}
        <input type="submit" name="Create Task" value="submit">
    </form>
    {% for task in tasks %}
        <div> 
            <a href="{% url 'task:updatetask' task.id %}">Update</a>
            <a href="{% url 'task:deletetask' task.id %}">Delete</a>
            
            {% if complete == True %}
                <strike> {{task}} </strike>
            {% else %}
                <span>{{ task }}</span>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}